body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
} 
div { color: rgb(224, 83, 8);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.toubu {
    background-color: rgb(178, 246, 109);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
nav {
    background-color: rgb(109, 202, 246);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: right;
    
}
.fenlei {
    background-color: rgb(235, 131, 110);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    height:50px;
    box-sizing: border-box;
text-align: left;
width: 120px;
    float: left;}
input:focus {
  background-color: rgb(222, 109, 219);}
  .denglu ,.zhuce {
    background-color: rgb(209, 186, 94);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; 
    text-align: center;
    width: 700px;
height:300px;width:500px;float:left;}